<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Permitted - Sine_Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'permit/style.css' %}">

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
        <br><br>
    </div>
    <div class="col-sm-5">
        <br><br>
      <p style="font-size:30px ; color:black">&nbsp; Create New User !!!</p>

    {% if form.errors %}
        <p class="error"> Sorry, This user is already registered</p>
    {% endif %}
  <form class="form-horizontal"  role="form" action="" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" value="" required>
    </div>
      <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" value="" required>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <br><br>
    <a href="/permit/">
       <p style="font-size:15px ; color:blue">Already Registered!!! </p>
    </a>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>

</body>
</html>