<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Permitted - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'permit/style.css' %}">

</head>
<body>
<br>

<div class="jumbotron text-center">
  <h1>Permitted</h1>
  <p>Tagline!!!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <br><br>
    </div>
    <div class="col-sm-4">
        <p style="font-size:30px ; color:black"><font size="5">Thanks For Using Permitted</font></p>
        <br>
        <br>
        <br>
      <a href="/permit">
          <p style="font-size:15px ; color:blue"><font size="3">Login Again</font></p>
      </a>

    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>

</body>
</html>